<!DOCTYPE HTML>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="renderer" content="webkit|ie-comp|ie-stand">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<title>赤峰市森林公安网上办公系统</title>
		<link rel="Bookmark" href="favicon.ico">
		<link rel="Shortcut Icon" href="favicon.ico" />
		<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
		<link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css" />
		<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/H-ui.admin.css" />
		<link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="static/h-ui.admin/skin/default/skin.css" id="skin" />
		<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/style.css" />
		<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
		<link rel="stylesheet" href="lib/zTree/v3/css/bootstrapStyle/bootstrapStyle.css" type="text/css">
	</head>

	<body>
		<!--<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
			<span class="c-gray en">&gt;</span> 账号权限管理
			<span class="c-gray en">&gt;</span> 权限管理
			<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
		</nav>-->
		<div class="page-container">
			<form class="form form-horizontal" id="form-article-add">
				<div class="formControls col-xs-3 col-sm-2" style="width: 300px;height: 520px;overflow-y: scroll;">
					<ul id="treeDemo" class="ztree"></ul>
				</div>
				<div id="tab-system" class="HuiTab" style="width: 78%;margin-left: 300px;">
					<div class="row cl" style="display: inline-block;width: 680px;">
						<label class="form-label col-xs-4 col-sm-2">角色名称：</label>
						<div class="formControls col-xs-8 col-sm-4">
							<input type="text" class="input-text valid" value="" placeholder="" id="roleName" name="roleName" oId="">
						</div>
					</div>
					<div class="tabBar cl" style="height: 30px;">
						<span>权限</span>
						<span>功能</span>
					</div>
					<div class="tabCon" style="height: 300px;overflow-y: scroll;overflow-x: hidden;">
						<div class="row cl">
							<div class="formControls col-xs-8 col-sm-9 menu-list">
								<!--
							<dl class="permission-list">
									<dt>
								<label>
									<input type="checkbox" value="" name="user-Character-0" id="user-Character-0">
										公文管理模块
								</label>
							</dt>
									<dd>
										<dl class="cl permission-list2">
											<dt>
										<label class="">
											<input type="checkbox" value="" name="user-Character-0-0" id="user-Character-0-0">
											公文管理
										</label>
									</dt>
											<dt>
										<label class="">
											<input type="checkbox" value="" name="user-Character-0-0" id="user-Character-0-0">
											简报管理
										</label>
									</dt>
										</dl>
									</dd>
								</dl>
								-->
							</div>
						</div>
					</div>
					<div class="tabCon" style="height: 300px;overflow-y: scroll;overflow-x: hidden;">
						<div class="row cl">
							<div class="formControls col-xs-8 col-sm-9">
								<!--
							<dl class="permission-list">
									<dt>
										<label>
										<input type="checkbox" value="" name="" id="">
											公文管理模块
										</label>
									</dt>
									<dd>
										<dl class="cl permission-list2">
											<dt>
												<label class="">
													<input type="checkbox" value="" name="" id="">
													查看详情
												</label>
											</dt>
											<dt>
												<label class="">
													<input type="checkbox" value="" name="" id="">
													同意
												</label>
											</dt>
											<dt>
												<label class="">
													<input type="checkbox" value="" name="" id="">
													驳回
												</label>
											</dt>
										</dl>
									</dd>
								</dl>
								-->
							</div>
						</div>
					</div>
				</div>
				<div class="row cl">
					<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
						<input type="button" id="role_add" status="add" onClick="article_save_submit();" class="btn btn-primary radius" value="保存"></input>
						<input type="button" onClick="layer_close();" class="btn btn-default radius" value="取消"></input>
					</div>
				</div>
			</form>
		</div>

		<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="lib/layer/2.4/layer.js"></script>
		<script type="text/javascript" src="static/h-ui/js/H-ui.min.js"></script>
		<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script>

		<!--请在下方写此页面业务相关的脚本-->
		<script type="text/javascript" src="lib/zTree/v3/js/jquery.ztree.all-3.5.min.js"></script>
		<script type="text/javascript" src="lib/zTree/v3/js/jquery.ztree.exedit-3.5.min.js"></script>
		<script type="text/javascript" src="lib/My97DatePicker/4.8/WdatePicker.js"></script>
		<script type="text/javascript" src="lib/jquery.validation/1.14.0/jquery.validate.js"></script>
		<script type="text/javascript" src="lib/jquery.validation/1.14.0/validate-methods.js"></script>
		<script type="text/javascript" src="lib/jquery.validation/1.14.0/messages_zh.js"></script>

		<!--模板引擎-->
		<script type="text/javascript" src="lib/jsrender/jsrender.min.js"></script>

		<script type="text/javascript">
			var config_url = "http://192.168.0.154:8080/forestoa";
			$(function() {
				$('.skin-minimal input').iCheck({
					checkboxClass: 'icheckbox-blue',
					radioClass: 'iradio-blue',
					increaseArea: '20%'
				});
				$("#tab-system").Huitab({
					index: 0
				});

				//查看是否有角色id，有则进入编辑模式
				function GetQueryString(name) {
					var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
					var r = window.location.search.substr(1).match(reg);
					if(r != null) return unescape(r[2]);
					return null;
				}
				var rId = GetQueryString("rId");
				if(rId != null && rId.trim().length > 0) {
					console.log("修改角色，角色id为：" + rId);
					//修改业务
					selectByKey(rId);
				} else {
					console.log("添加角色");
					//添加业务
					selectOrgTreeAndMenuTree();
				}
			});

			//tree配置
			var setting = {
				/*check: {
					enable: true,
					chkStyle: "checkbox",
					chkboxType: {
						"Y": "ps",
						"N": "ps"
					}
				},*/
				check: {
					enable: true,
					chkStyle: "radio", //单选框
					radioType: "all" //对所有节点设置单选
				},
				view: {
					dblClickExpand: false,
					showLine: false,
					selectedMulti: false
				},
				data: {
					key: {
						name: "oName"
					},
					simpleData: {
						enable: true,
						idKey: "oId",
						pIdKey: "parenteId",
						rootPId: ""
					}
				},
				edit: {
					enable: false
				},
				callback: {
					beforeClick: function(treeId, treeNode) {
						var zTree = $.fn.zTree.getZTreeObj("tree");
						/*if(treeNode.isParent) {
							zTree.expandNode(treeNode);
							return false;
						} else {
							//demoIframe.attr("src",treeNode.file + ".html");
							return true;
						}*/
					},
					onCheck: onCheck //节点选中事件
				}
			};

			//获取选中节点的值
			function onCheck(e, treeId, treeNode) {
				//console.log("选中的组织ID"+treeNode.oId);
				$("#roleName").attr("oId", treeNode.oId);
			}
			/**
			 * 全选事件
			 */
			function setcheckbox() {
				/*全选*/
				$(".permission-list dt input:checkbox").click(function() {
					$(this).closest("dl").find("dd input:checkbox").prop("checked", $(this).prop("checked"));
				});
				$(".permission-list2 dd input:checkbox").click(function() {
					var l = $(this).parent().parent().find("input:checked").length;
					var l2 = $(this).parents(".permission-list").find(".permission-list2 dd").find("input:checked").length;
					if($(this).prop("checked")) {
						$(this).closest("dl").find("dt input:checkbox").prop("checked", true);
						$(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked", true);
					} else {
						if(l == 0) {
							$(this).closest("dl").find("dt input:checkbox").prop("checked", false);
						}
						if(l2 == 0) {
							$(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked", false);
						}
					}
				});
			}

			//修改业务，根据rid查询角色
			function selectByKey(rId) {
				$.ajax({
					url: config_url + '/role/selectByKey',
					xhrFields: {
						withCredentials: true
					},
					data: {
						"rId": rId
					},
					dataType: "json",
					success: function(data) {
						if(data.success) {
							var role = data.data.role;
							var menuTree = data.data.menuTree;
							var orgTree = data.data.orgTree;
							//角色名称
							$("#roleName").val(role.rName);
							$("#roleName").attr("rId", role.rId);
							$("#roleName").attr("oId", role.oId);

							//初始化左侧组织结构树
							create_left_tree(orgTree);
							//初始化菜单列表
							create_context_menu(menuTree);
							//设置保存按钮为更新状态
							$("#role_add").attr("status", "update");
						} else {
							alert(data.msg);
						}

					}
				})
			};

			//添加业务，查询所需的组织树与菜单树
			function selectOrgTreeAndMenuTree() {
				$.ajax({
					url: config_url + '/role/selectOrgTreeAndMenuTree',
					xhrFields: {
						withCredentials: true
					},
					dataType: "json",
					success: function(data) {
						if(data.success) {
							var menuTree = data.data.menuTree;
							var orgTree = data.data.orgTree;

							//初始化左侧组织结构树
							create_left_tree(orgTree);
							//初始化菜单列表
							create_context_menu(menuTree);
							//设置保存按钮为更新状态
							$("#role_add").attr("status", "add");
						} else {
							alert(data.msg);
						}

					}
				})
			};

			//初始化左侧组织树
			function create_left_tree(orgTree) {
				var t = $("#treeDemo");
				var zNodes = orgTree;
				t = $.fn.zTree.init(t, setting, zNodes);
			};
			//初始化中间菜单列表
			function create_context_menu(menuTree) {
				var menulist = "";
				//获取模板
				var template = $.templates("#menuTreeTmpl");
				//将模板与数据拼合得到html字符串
				var htmlOutput = template.render({
					"menuTree": menuTree
				});

				$(".menu-list").html(htmlOutput);
				//注册全选事件
				setcheckbox();
			};

			//点击保存
			function article_save_submit() {
				//组织id不为空标识
				var oIdnoIsNull = false;
				//角色名称不为空标识
				var roleNameIsNull = false;

				var btn_url = "";
				//查看当前按钮状态，新建还是更新
				var status = $("#role_add").attr("status");
				//console.log(status);

				//从role中获取选中的组织id
				var oId = $("#roleName").attr("oId");

				//是否选择了组织
				if(oId != null && oId != "undefined" && oId.trim().length > 0) {
					//console.log("从roleName中获取到选中的组织oId=" + oId);
					oIdnoIsNull = true;
				} else {
					oIdnoIsNull = false;
					//alert("请选择一个组织");
					layer.msg("请选择一个组织", {
						icon: 1,
						time: 1000
					});
				}

				//获取全部菜单列表,主要的三个字段mId(菜单id),rmId(关联id),binDing是否选中（选中为1，默认为0）
				var menu_list = new Array();
				$("input:checkbox[name='menu_tree']").each(function() {
					//console.log($(this).attr("mId") + "---"+$(this).attr("rmId")+"---"+$(this).is(':checked'));
					var menu = {
						"mId": $(this).attr("mId"),
						"binDing": $(this).is(':checked') ? 1 : 0,
						"rmId": $(this).attr("rmId")
					};
					menu_list.push(menu);
				});
				//console.log(menu_list);

				//获取角色名称
				var roleName = $("#roleName").val();
				//角色名称不能为空
				if(roleName != null && roleName != "undefined" && roleName.trim().length > 0) {
					//console.log("从roleName中获取到角色名称=" + roleName);
					roleNameIsNull = true;
				} else {
					roleNameIsNull = false;
					//alert("角色名称不能为空");
					layer.msg("角色名称不能为空", {
						icon: 1,
						time: 1000
					});
				}

				//如果组织id和角色名称都不为空，则执行添加和修改操作
				if(oIdnoIsNull && roleNameIsNull) {
					var btn_url = '';
					if(status == "add") {
						//console.log("添加对象");
						//封装角色对象
						var role = {
							"rName": roleName,
							"oId": oId,
							"menus": menu_list
						};
						//console.log(role);
						btn_url = "/role/save";
					} else if(status == "update") {
						//console.log("更新对象");
						//封装角色对象
						var role = {
							"rId": $("#roleName").attr("rId"),
							"rName": roleName,
							"oId": oId,
							"menus": menu_list
						};
						//console.log(role);
						btn_url = "/role/update";
					}
					//执行添加或更新ajax
					saveOrUpdate(btn_url, role);
				}
			};

			//添加对象，更新对象
			function saveOrUpdate(url, role) {
				$.ajax({
					url: config_url + url,
					type: "POST",
					contentType: "application/json;charset=UTF-8",
					data: JSON.stringify(role),
					xhrFields: {
						withCredentials: true
					},
					success: function(data) {
						if(data.success) {
							//保存成功跳转到主页面
							window.location.href = "admin-permission.html";
							window.parent.location.reload();
							parent.layer.close(index);
						} else {
							layer.msg(data.msg, {
								icon: 1,
								time: 1000
							});
						}
					},
				})
			};
		</script>

		<!--menuTree模板-->
		<script id="menuTreeTmpl" type="text/x-jsrender">
			{{for menuTree}}
			<dl class="permission-list">
				<dt>
						<label>
							{{if binDing == 1}}
								<input name="menu_tree" type="checkbox" value="" mId="{{: mId}}" rmId="{{: rmId}}"  id=""  checked="checked" >
							{{else}}
								<input name="menu_tree" type="checkbox" value="" mId="{{: mId}}" rmId="{{: rmId}}"  id=""   >
  							{{/if}}
							{{: mName}}
						</label>
					</dt>
				<dd>
					<dl class="cl permission-list2">
						{{for childMenus}}
						<dt>
									<label class="">
										{{if binDing == 1}}
											<input name="menu_tree" type="checkbox" value="" mId="{{: mId}}" rmId="{{: rmId}}"  id=""  checked="checked" >
										{{else}}
											<input name="menu_tree" type="checkbox" value="" mId="{{: mId}}" rmId="{{: rmId}}"  id=""   >
  										{{/if}}
										{{: mName}}
									</label>
								</dt> {{/for}}
					</dl>
				</dd>
			</dl>
			{{/for}}
		</script>

	</body>

</html>